header {
    background: url("images/MKT..jpg");
    background-size: cover ;
    height: 550px ;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-size: 56px;
    color: rgb(248, 245, 245);
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 70px auto;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.about img{
border-radius: 50%;
width: 70px;
margin-top: -30px
}
h2 {
font-size: 24px;
margin-top: 30px;
margin-bottom: 15px;
}
a {
color: #129daf;
text-decoration: none;
}
/* SKILLS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 70px auto;
    padding: 20px;
    padding-top: 0;
  }
  
  .skills-content {
    margin: 0 auto 70px auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
      text-align: left;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .skills-column {
    flex: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .progress-container {
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
    width: 100%;
  }
  
  .progress-value,
  .progress-badge {
    color: #2a0b7e;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .progress-value {
    position: absolute;
    top: 2px;
    right: 0;
  }
  
  .progress {
    margin-top: 14px;
      background: rgba(126, 25, 129, 0.4);
  }
  
  .progress-bar {
    height: 5px;
    background: #6812af;
  }
  /* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline h2 {
    text-align: center;
  }
  
  .timeline ul {
    padding: 20px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgba(223, 67, 202, 0.4);
    color: white;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(130, 18, 175);
  }
  
  .timeline .bubble {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: rgba(138, 18, 175, 0.8);
    box-sizing: border-box;
  }
  
  .timeline .bubble::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) .bubble {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) .bubble::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(130, 18, 175, 0.8) transparent transparent;
  }
  
  .timeline ul li:nth-child(even) .bubble {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) .bubble::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgba(149, 18, 175, 0.8);
  }
  
  .bubble span {
    display: block;
    font-weight: bold;
  }
  
  .periode {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: rgb(183, 67, 206);
  }
  
  .timeline .bubble {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) .bubble {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) .bubble {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view .bubble {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    width: 60%;
    font-family: Yeseva One;
    color: #443d44;
    font-weight: bolder;
}
  
  iframe {
    margin-top: 30px;
    margin-bottom: 30px;
      width: 100%;
  }
form {
	/* Largeur 100% */
    width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-group {
	margin-top: 10px;
  /* marge extérieure en haut de 10px */
  margin-bottom: 10px;
  /* marge extérieure en bas de 10px */
	border-bottom: 2px solid #9e5b8d;
  /* bordure en bas : épaisseur 2px en ligne continue, de couleur #d9d9d9 */
  flex-grow: 1;
}  
.form-group:first-child {
	/* marge extérieure à droite de 30px */
  margin-right: 30px;
}

label {
    font-size: 18px;
	/* taille de typo 16px */
    color: #aa3691;
	/* couleur de texte #999999 */
    padding: 5px;
	/* marges intérieures de 5px */
}

input {
    width: 100%;
	/* largeur 100% */
    color: #aa3691;
	/* couleur #555555 */
    border: 0px;
	/* pas de bordure */
    height: 40px;
	/* hauteur 40px */
    padding: 5px;
	/* marges intérieures de 5px */
    margin-top: 5px;
	/* marge extérieure en haut 5px */
    font-size: 18px;
	/* taille de typo 18px */
    font-family: 'Times New Roman', Times, serif;
	/* famille de typo Times New Roman */
}

textarea {
    border: 0px;
	/* pas de bordure */
    min-height: 110px;
	/* hauteur minimum 110px */
    color: #555555;
	/* couleur #555555 */
    width: 100%;
	/* largeur 100% */
    padding: 5px;
	/* marges intérieures de 5px */
    padding-top: 10px;
	/* marge extérieure en haut 10px */
    font-size: 18px;
	/* taille de typo 18px */
    font-family: 'Times New Roman', Times, serif;
	/* famille de typo Times New Roman */
}

::placeholder {
    font-family: 'Times New Roman', Times, serif;
	/* famille de typo Times New Roman*/
    font-size: 18px;
	/* taille de typo 18px */
font-weight: bold;
	/* graisse de typo bold */
}

.btn {
	/* marge extérieure en haut 20px */
    margin-top: 20px;
	/* marges intérieures : 0 en haut et en base, 20px à gauche et à droite  */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
	/* largeur minimum 130px */
    min-width: 130px;
	/* hauteur 50px */
    height: 50px;
	/* Couleur de fond rgba(18, 157, 175, 1)*/
    border-color: rgba(18, 157, 175, 1);
	/* angle arrondi 5px */
    border-radius: 5px;
	/* pas de bordure */
    border: 0px;
	/* taille de typo 16px */
    font-size: 16px;
	/* couleur #fffff 50px */  
    color: #aa3691;
}